<div class="mat-elevation-z8 table">
  <div class="title-container">
    <div class="title">
      <h1>Liste des produits disponibles</h1>
    </div>
    <div class="btn-container">
      <button
        mat-stroked-button
        (click)="openDiaglog()"
        class="btn-add"
        color="primary"
        type="button"
      >
        Ajouter un nouveau produit <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom du plat</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix</th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[2, 4]"
    showFirstLastButtons
    aria-label="selection"
  >
  </mat-paginator>
</div>
